/*custom css - stefan*/

/*general global styles*/
.row {
	max-width: none;
}
/*general global end*/

/*general header styles*/
.header {}
.top-desktop-row {
	margin: 0;
}
.header nav {
	width: 100%;
	padding: 0 10rem;
}
.top-bar .name {
	height: auto;
}
.logo img {
	margin: 0;
	margin-top: -14px;
	transform: translate(0,50%);	
}
.top-bar-section li:not(.has-form) a:not(.button) {
	/*line-height: 8.7rem;*/
} 
/*general header end*/

/*general footer styles*/
#footer {}
/*general footer end*/

/*features section*/
#section-2 {
	height: auto;
	padding: 0 0 5%;
	background-size: cover;
}
#screenshot {
	height: auto;
}
#screenshot img {
	border-radius: 0;
}
.features {
	margin: 0;
}
.features ul {
	margin: 0;
}
.features ul li {
	position: relative;
}
.features video {
	display: block;
	margin: 0;
	padding: 0;
	top: 0;
	left: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: black;
}
.features .bx-wrapper {
	border-radius: 10px;	
	overflow: hidden;
}
.toggle-box {
	padding: 3px 0;
}
.toggle-box .toggle {
	transition: 0.3s ease-in-out;
	cursor: pointer;
}
.toggle-box .toggle.noBorder {
	border-bottom: 0;
}
.toggle-box .toggle .toggle-title {

}
.toggle-box .toggle .toggle-title img {
	vertical-align: middle;
	display: inline-block;
	margin-right: 12px;
}
.toggle-box .toggle .toggle-body {
	height: 0;
	overflow: hidden;
}
.toggle-box .toggle.selected .toggle-body {
	
}
/*features end*/

/*how to section*/
.howto {
	max-width: 100%;
	margin: 0 auto;
}
.howto ul {
	margin: 0;
	list-style: none;
	font-size: 0;
	line-height: 0;
	text-align: center;
}
.howto ul li {
	width: 33.33%;
	display: inline-block;
	padding: 0 10px;
}
.howto ul li .border {
	border-radius: 10px;
	border: solid 2px #eeeeee;
	overflow: hidden;
}
.howto .bx-wrapper {
	border-radius: 10px;
	background-color: #eeeeee;
	border: solid 2px #eeeeee;
	margin-bottom: 45px;
	overflow: hidden;
}
.dot-nav {
	position: relative;
	text-align: center;
	padding-top: 0px;
	font-size: 0;
	margin: 0 auto;
	max-width: 224px;
}
.dot-nav .inner {
	margin: 0 -23px;
}
.dot-nav .bar {
	position: absolute;
	width: 0%;
	height: 4px;
	top: 50%;
	left: 0;
	transform: translate(0,-50%);
	transition: 0.3s ease-in-out;
	padding: 0 16px;
	z-index: 1;
}
.dot-nav .bar .inner {
	width: 100%;
	height: 100%;
	background-color: #009cd9;
	margin: 0;
}
.dot-dot {
	position: relative;
	display: inline-block;
	margin: 0 20px;
	cursor: pointer;
}
.dot-dot span {
	display: block;
	width: 26px;
	height: 26px;
	object-fit: contain;
	background-color: #eeeeee;
	border: solid 3px #eeeeee;
	border-radius: 13px;
	transition: 0.3s ease-in-out;
}
.dot-dot.active span {
	background-color: #009cd9; 
}
.navOver {
	position: absolute;
	z-index: 2;
	width: 100%;
	left: 0;
	top: 0;
}
.navOver span {
	background-color: transparent;
	border-color: transparent;
}
/*how to end*/

/*Platform page*/
.devices {	
	position: relative;
	max-width: 770px;
}
.devices ul {
	margin: 0;
	padding: 0;
}
.moveText {
	position: relative;
	display: inline-block;
	overflow: hidden;
	border-bottom: 2px solid white;	
	vertical-align: middle;
	cursor: pointer;
}
.moveText .block {
	transition: 0.3s ease-in-out;
	width: 100%;
	height: 100%;
	padding: 8px 0;
}
.moveText .block.business {
	transform: translate(0,100%);
	position: absolute;
	left: 0;
}
.moveText.out .block.business {
	transform: translate(0,-100%);
}
.moveText.out .block.customers {
	transform: translate(0,-100%);
}
.transition {
	position: relative;
	overflow: hidden;
}
.transition .devices .device {
	visibility: hidden;
}
.switchA,
.switchB {
	position: absolute;
	top: 50%;
	transform: translate(0,-50%);
	color: black;
	cursor: pointer;
}
.switchA {
	right:2%;
}
.switchB {
	left: 2%;
}
.modeA,
.modeB {
	transition: 0.3s ease-in-out;
	padding: 0 6%;
}
.modeA {
	position: relative;
}
.modeB {
	position: absolute;
	transform: translate(105%, 0);
	top: 0;
}
.transition.out .modeA {
	transform: translate(-105%, 0);
}
.transition.out .modeB {
	transform: translate(0%, 0);
}
.modeA .featuresA,
.modeB .featuresB {
	position: absolute;
    top: 7.8%;
    left: 16%;
    width: 66.7% !important;
    /*height: 74.7%!important;*/
    overflow: hidden;
    background-color: #999;
    background-color: transparent;
    border: 10px solid #f1f1f1;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.modeA .mobileA,
.modeB .mobileB {
	position: absolute;
    top: 34.3%;
    left: 80.4%;
    width: 18.2% !important;
    /*height: 56.3%!important;*/
    overflow: hidden;
    background-color: #999;
    background-color: transparent;
    border: 10px solid #f1f1f1;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
/*Platform end*/

/*bx slider modifiers*/
.bx-wrapper {
	margin: 0;
	border: 0;
	background-color: transparent;
	box-shadow: none;	
}
.modeA .mobileA .bx-wrapper,
.modeB .mobileB .bx-wrapper,
.modeA .featuresA .bx-wrapper,
.modeB .featuresB .bx-wrapper {
	border: 1px solid #ccc;	
}
/*bx slider end*/